section h2{
    word-break: break-all;
    line-height: 1;
    font-size: 8rem;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 4ch;
}

.bloco{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: rgb(235, 235, 235);
    border-left:calc(16rem/16) solid transparent;
    gap: 15px;
    border-radius: 8px; 
    align-items: start;
    position: relative;
    padding: 15px;
}

section{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.info{
    align-items: start;
    display: flex;
    gap: 10px;
}

.info li{
    background-color: rgb(252, 252, 252);
    padding: 8px 12px ;
    border-radius: 8px;
}

.bloco p{
    color: rgb(178, 179, 180);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.experiencia p{
    font-family: Arial, Helvetica, sans-serif;
}

.exp{
    color: rgb(233, 233, 233);
}

.experiencia{
    display: grid;
    gap: 30px;
}

section{
    padding: 48px;
}

.bloco .data{
    position: absolute;
    left: -120px;
    top:20px
}