.header{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.5rem 1.25rem;
    align-items: center;
    justify-content: space-between;
}

.header_menu{
    display: flex;
    gap: 0.625rem;
    flex-wrap: wrap;
    justify-content: center;
}

.header_menu a{
    text-decoration: none;
    font-size: 1.125rem;
    padding: 10px 20px;
    color: black;
    display: block;
}

@media (max-width: 800px){
    .header{
        flex-direction: column;
        gap: 40px;
        padding: 1.25rem;
    }

.header a{
    background: #f5f5f5;
    border-radius: 0.25rem;
}

}